/* 	Copyright Adam Gedney 12/2/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/*Baseline Grid*/
/*    3px    */
/*----Sass Palette----*/
/*----Sass imports----*/
/*--------------------------------------Start CSS Reset---------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, del, em, img, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

/*--------------------------------------Defaults-------------------------------*/
/* 	SET ALL ELEMENTS BOX-SIZING TO BORDER-BOX
	If you need support for IE7 and lower use polyfill: https://github.com/Schepp/box-sizing-polyfill 
	--Borrowed from responsive.gs*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #101010;
  color: #f0f0f0;
  font: 62.5% 'Droid Serif', Georgia,Helvetica,Arial,sans-serif; }

h1, h2, h3, h4, nav {
  font-family: 'Tangerine', cursive; }

h1 {
  font-size: 5.4em;
  line-height: 1.5em; }

h2 {
  font-size: 3.6em;
  line-height: 1.5em; }

h3 {
  font-size: 2.7em;
  line-height: 1.5em; }

p, ul, dl, label {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 20px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased; }

input {
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: #1e89b1; }

a:hover, input[type=submit]:hover {
  opacity: .6; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #7f7f7f; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7f7f7f; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7f7f7f; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #7f7f7f; }

img, iframe {
  max-width: 100%; }

.container {
  padding: 0 4%; }

.red {
  color: #cd241b; }

/* #Media Queries
================================================== */
/*
Grabbed from Chris Coyer.
http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
/* Smartphones (portrait and landscape) ----------- */
.menu-button {
  display: block;
  position: fixed;
  right: 9px;
  top: 18px;
  opacity: .8; }

header {
  border-top: 3px solid #490406;
  overflow: hidden; }
  header h1 {
    text-align: center;
    font-size: 4.2em;
    padding: 2%; }
  header nav ul li {
    height: 44px;
    border-top: 1px solid #252525;
    text-align: center; }
    header nav ul li :hover {
      color: #cd241b; }
    header nav ul li a {
      color: #f0f0f0;
      line-height: 45px;
      font-size: 1.2em; }

.landing {
  width: 100%; }

/* ----------------Landing page scene----------------*/
.scene {
  height: 297px;
  position: relative; }
  .scene .scene-inner {
    max-width: 862px;
    margin: 0 auto; }
  .scene img {
    position: absolute;
    top: 0;
    display: block;
    height: auto; }

#curtain-wrapper {
  width: 100%;
  min-width: 837px;
  max-height: 620px;
  position: absolute;
  top: 0;
  z-index: 10;
  display: none; }

#curtain-left, #fog-left {
  position: absolute;
  left: 0;
  max-width: 100%;
  max-height: 620px; }

#curtain-right, #fog-right {
  position: absolute;
  right: 0;
  max-width: 100%;
  max-height: 620px; }

#curtain-center {
  position: absolute;
  z-index: -1;
  display: block;
  min-width: 100%;
  min-height: 620px;
  margin: 0 auto;
  background: url(../images/scene/8c-curtainCenter.png) repeat; }

#center-fog {
  position: absolute;
  width: 100%;
  max-height: 620px;
  bottom: 0;
  left: 0;
  right: 0; }

.ornament {
  display: block;
  width: 150px;
  max-height: 19px;
  margin: 0 auto 18px;
  text-align: center; }

h2 {
  line-height: .8em;
  margin-top: 72px;
  margin-bottom: 0;
  text-align: center; }

.videos {
  overflow: hidden; }
  .videos .video-wrapper {
    float: left;
    margin-right: 2%; }
    .videos .video-wrapper iframe {
      display: inline-block;
      text-align: center;
      width: 420px;
      height: 315px; }
    .videos .video-wrapper h3 {
      text-align: center;
      margin-top: 9px;
      margin-bottom: 36px; }

/*---------------- Contact form----------------*/
.form {
  width: 294px;
  margin: 0 auto; }
  .form form {
    width: 294px;
    margin: 0 auto;
    overflow: hidden; }
  .form input, .form textarea {
    width: 294px;
    height: 45px;
    border: none;
    padding: 3px;
    border-radius: 2px;
    display: inline;
    margin-bottom: 12px;
    float: right;
    font-size: 1.8em; }
  .form textarea {
    height: 198px; }
  .form input[type=submit] {
    background: #1e89b1;
    color: #f0f0f0;
    clear: both;
    height: 45px;
    font-size: 1.8em;
    border-radius: none;
    float: left;
    margin-top: 18px; }
  .form label {
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.6em;
    color: #f0f0f0;
    font-weight: 400;
    display: inline;
    text-align: right;
    float: left; }

footer {
  margin-top: 72px; }
  footer p {
    font-size: 1.2em;
    text-align: center; }

/* Smartphones  ----------- */
@media only screen and (min-width: 480px) {
  .scene {
    height: 360px; } }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  .scene {
    height: 620px; }

  #curtain-wrapper {
    display: block; } }
/*min-width 768*/
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
