/* 	Copyright Adam Gedney 12/2/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/*Baseline Grid*/
/*    3px    */

/*----Sass Palette----*/
$black: #101010;
$grey: #7f7f7f;
$dark-grey: #252525;
$white: #f0f0f0;
$blue: #1e89b1;
$red: #cd241b;

/*----Sass imports----*/
@import "reset";
@import "defaults";







/* #Media Queries
================================================== */
/*
Grabbed from Chris Coyer.
http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/


/* Smartphones (portrait and landscape) ----------- */
// @media screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {

// }




header{
	// padding: 2%;
	border-top: 3px solid $red;
	overflow: hidden;

	h1{
		display: inline;
		margin: 0 auto;
		text-align: center;
		font-size: 4.2em;
		padding: 2%;
	}

	nav{
		ul{
			li{
				height: 44px;
				border-top: 1px solid $dark-grey;
				text-align: center;

				:hover{
					background: $blue;
				}

				a{
					color: $white;
					line-height: 45px;
					font-size: 1.5em;
				}
			}
		}
	}
}

.menu-button{
	display: block;
	float: left;
	padding: 5% 2% 0;
}

.form{
	width: 450px;
	height: 80%;
	// margin: 0 auto;
	float: right;
	padding: 36px 0 63px;

	form{
		width: 262px;
		margin: 0 auto;
		overflow: hidden;
	}

		input{
			width: 254px;
			height: 29px;
			border: none;
			padding: 3px;
			border-radius: 2px;
			display: inline;
			margin-bottom: 12px;
			float: right;
			font-size: 1.8em;
			// color: $light-gray;
		}

		input[type=submit]{
			color: $dark-grey;
			clear: both;
			height: 45px;
			font-size: 1.8em;
			border-radius: none;
			float: left;
			// margin-left: 9px;
			margin-top: 18px;
		}

		label{
			// margin-left: 10px;
			margin-bottom: 0;
			font-size: 1.6em;
			line-height: 1.2em;
			color: $dark-grey;
			font-weight: 400;
			display: inline;
			text-align: right;
			float: left;
		}
	}





/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px) {

}







/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}







/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}







/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}







/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}







/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}







/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}







/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}







