/* 	Copyright Adam Gedney 12/2/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/*Baseline Grid*/
/*    3px    */

/*----Sass Palette----*/
$black: #101010;
$rich-black: #000;
$grey: #7f7f7f;
$dark-grey: #252525;
$white: #e6e6e6;
$blue: #1e89b1;
$purple: #AB14B4;
$red: #cd241b;
$dark-red: #490406;

/*----Sass imports----*/
@import "reset";
@import "defaults";







/* #Media Queries
================================================== */
/*
Grabbed from Chris Coyer.
http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
/* 358px motoX

*/





.menu-button{
	display: block;
	position: fixed;
	right: 9px;
	top: 18px;
	opacity: .8;
	z-index: 9999;
}

header{
	// padding: 2%;
	border-top: 3px solid $dark-red;
	overflow: hidden;

	h1{
		text-align: center;
		font-size: 4.2em;
		padding: 2%;
	}

	nav{
		ul{
			li{
				height: 44px;
				border-top: 1px solid $dark-grey;
				text-align: center;

				:hover{
					color: $red;
				}

				a{
					color: $white;
					line-height: 45px;
					font-size: 1.2em;
				}
			}
		}
	}
}

.landing{
	width: 100%;
	
	.page-inner{
		padding: 0;

	}
}

/* ----------------Landing page scene----------------*/
.scene{
	height: 297px;
	position: relative;

	.scene-inner{
		max-width: 862px;
		margin: 0 auto;
	}

	img{
		// width: 100%;
		position: absolute;
		top: 0;
		display: block;
		height: auto;
	}
}

#curtain-wrapper{
	width: 100%;
	min-width: 837px;
	min-height: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}


#curtain-left, #fog-left{
	position: absolute;
	left: 0;
}

#curtain-right, #fog-right{
	position: absolute;
	right: 0;
}

#curtain-center{
	position: absolute;
	z-index: -1;
	display: block;
	min-width: 100%;
	min-height: 620px;
	margin: 0 auto;
	background: url(../images/scene/8c-curtainCenter.png) repeat;
}

#center-fog{
	position: absolute;
	width: 100%;
	max-height: 620px;
	bottom: 0;
	left: 0;
	right: 0;
}




.page{
	// border-bottom: 1px solid $dark-grey;
	padding: 2% 0;
}

.page-inner{
	padding: 0 6%;

}

.ornament{
	display: block;
	width: 150px;
	max-height: 19px;
	margin: 0 auto 18px;
	text-align: center;
}

h2{
	line-height: .8em;
	margin-top: 72px;
	margin-bottom: 0;
	text-align: center;
}

.videos{
	overflow: hidden;
	max-width: 420px;
	margin: 0 auto;

	.video-wrapper{
		float: left;
		margin-right: 2%;

		iframe{
		display: inline-block;
		text-align: center;
		width: 420px;
		height: 315px; 
		}

		h3{
			text-align: center;
			margin-top: 9px;
			margin-bottom: 36px;
		}
	}
}




/*---------------- Contact form----------------*/
.form{
	width: 294px;
	margin: 0 auto;

	form{
		width: 294px;
		margin: 0 auto;
		overflow: hidden;
	}

		input, textarea{
			width: 294px;
			height: 45px;
			border: none;
			padding: 3px;
			border-radius: 2px;
			display: inline;
			margin-bottom: 12px;
			float: right;
			font-size: 1.8em;
			// color: $light-gray;
		}

		textarea{
			height: 198px;
		}

		input[type=submit]{
			background: $purple;
			color: $white;
			clear: both;
			height: 45px;
			font-size: 1.8em;
			border-radius: none;
			float: left;
			// margin-left: 9px;
			margin-top: 18px;
		}

		label{
			// margin-left: 10px;
			margin-bottom: 0;
			font-size: 1.5em;
			line-height: 1.6em;
			color: $white;
			font-weight: 400;
			display: inline;
			text-align: right;
			float: left;
		}
	}

.contact-info{
	display: none;
}




footer{
	margin-top: 72px;

	p{
		font-size: 1.2em;
		text-align: center;

	}
}



/* Smartphones (portrait and landscape) ----------- */
// @media screen 
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {

// }

/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px) {

.scene{
	height: 360px;
}

}





/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 750px) {

.scene{
	height: 590px;
}

.videos{
	max-width: 590px;

	.video-wrapper{
		float: left;
		

		iframe{
		width: 220px;
		height: 165px; 
		}

		h3{
			text-align: center;
			margin-top: 9px;
			margin-bottom: 36px;
		}
	}

	.video-wrapper:nth-child(odd){
			margin-right: 13%;
		}
}

.page-inner{
	overflow: hidden;
}

.form{
	float: left;
}

.contact-info{
	display: block;
	float: left;
	width: 250px;
	margin: 18px 0 0 13%;

	a{
		font-size: 3em;
		font-family: 'Tangerine', cursive;
	}
}

}/*min-width 768*/






/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 769px) {

.scene{
	height: 620px;
}

#curtain-wrapper{
	display: block;
}

}







/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}







/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}







